@font-face {
	font-family: 'My_main'; 
	src: url(fonts/17386.otf); 
}
@font-face {
	font-family: 'My_main_1'; 
	src: url(fonts/18894.otf); 
}

@font-face {
	font-family: 'My_main_2'; 
	src: url(fonts/19287.ttf); 
}


