
.co_menu_option{
    margin-left: 25px;
    margin-top: 25px;
}
.co_menu_option {
    display: grid;
    grid-template-columns: repeat(1, 150px);
    grid-template-rows: repeat(15, 60px);
    line-height: 1;
}

.col_food_option {
    display: grid;
    width: 1fr; 
    height: 1fr;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat( 3, 400px);
    grid-gap: 35px;
    display: inline-grid;
    margin-left: 45px;
    margin-top: 25px;
    
    }

.first_line {
border-left: 3px solid #93130A;
font-family: "My_main_2";
font-size: 35px;
color: #93130A;
padding-left: 25px;
display: flex;
justify-content: center;
flex-direction: column;
margin-bottom: 25px;
}

.other_line {
display: flex;
flex-direction: column;
text-align: left;  
}
.menu_option {
font-family: "My_main_2";
font-size: 20px;
color: lightgray; 
height: 60px;
text-align: left; 
color: gray;
line-height: 1;
}

.bt_bor {
border: none;
border-right: lightgray 5px solid;
text-align: left;
background-color: #F2F2F2;
}
.bt_bor:hover, .menu_option:hover {
border-color: #93130A !important;
color: #93130A;   
}
.bt_bor:focus, .menu_option:focus {
border-color: #93130A !important;
color: #93130A;   
}




.options {
box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
border: 1px silver black;
padding: 1em;
color: #d9480f;
}


.main_name_food{
font-family: "My_main_2";
font-size: 35px;
color: #93130A;

}
.price_food{
font-family: "My_main_2";
font-size: 20px;
color: #93130A;
}

.about_food{

font-family: "My_main_2";
font-size: 15px;
color: #93130A;
}

.gramm {
    font-family: "My_main_2";
    font-size: 15px;
    color: #93130A; 
}

